@charset "utf-8";
*{
    appearance:normal;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    outline: 0;
    font-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    }
html,body{ font-size:100%; vertical-align: baseline; line-height: 1.5; }
*:focus{ outline:0; -webkit-tap-highlight-color: rgba(0,0,0,0);}
*,*:after,*:before { -webkit-box-sizing: border-box; }
*:after,*:before{display:inline-block;}
a:hover{ text-decoration:none !important;}
a:link,a:visited{ text-decoration:none;}
::selection {
    background-color:#CCC;
    color: #000;
}
#iOSPro{ margin-top:2em;}
div, a, p, img, blockquote, form, fieldset, textarea, input, label, iframe, code, pre {
    display: block;
    position:relative;
}
ul{ list-style:none;}
.l{ float:left;}
.r{ float:right;}
.m{ }
.clear {clear: both;height: 0px;line-height: 0px;}
.left{ text-align:left;}
.right{ text-align:right;}
.center{ text-align:center;}
.hide{ display:none;}
.show{ display:block;}
.hidden{ visibility:hidden;}
.visibe{ visibility:visible;} 
.wui_btn.full{ width:100%; display:block; text-align:center; margin:0 auto;}

.wui_btn,
.wui_toggle_btn,
.wui_tab_btn{ display:inline-block; overflow:hidden; position: relative; }
.wui_btn.no_text,
.wui_toggle_btn.no_text{ background-position:center center; text-overflow: ellipsis; white-space: nowrap; text-indent: -9999px; }
.wui_btn:after,
.wui_toggle_btn:after{ position:absolute; background-position:center center; display:block; background-repeat: no-repeat; left:0; top:0;  }

.cursor_hand{ cursor: pointer;}
.opacity{ opacity:.8;}
.line{ height:1px; border-top:1px solid #ccc;}
.b {
    font-weight: bold;
}

.i {
    font-style: italic;
}

.u {
    text-decoration: underline;
}

.d {
    text-decoration: line-through;
}

.first {
    margin-left: 0;
    padding-left: 0;
}

.last {
    margin-right: 0;
    padding-right: 0;
}

.top {
    margin-top: 0;
    padding-top: 0;
}

.bottom {
    margin-bottom: 0;
    padding-bottom: 0;
}

.corner {
    border-radius: 4px;
}
.corner .corner_l {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.corner .corner_r {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.corner .corner_t {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.corner .corner_b {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.thumb_r{}
.thumb_r img{ margin-top:5px; float:right; margin-left:20px;}
.thumb_l{}
.thumb_l img{ margin-top:5px; float:left; margin-right:20px;}
img, object, embed{ max-width:100%; height:auto;}

.h_turqoise{background-color:#16a085;}
.h_green{background-color:#27ae60;}
.h_blue{background-color:#2980b9;}
.h_magenta{background-color:#8e44ad;}
.h_dark{background-color:#2c3e50;}
.h_yellow{background-color:#f1c40f;}
.h_red{background-color:#c0392b;}
.h_orange{background-color:#e67e22;}

.t_turqoise{color:#16a085;}
.t_green{color:#27ae60;}
.t_blue{color:#2980b9;}
.t_magenta{color:#8e44ad;}
.t_dark{color:#2c3e50;}
.t_yellow{color:#f1c40f;}
.t_red{color:#c0392b;}
.t_orange{color:#e67e22;}

.wui_error{ color:#c0392b;}


body{
    color:#666;
    line-height:1.2;
    font-size:62.5%;
    font-family: "Droid Sans","Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif;
}

a:link,a:visited{ color:#000;}
a:hover,a:active{ color:#003399;}
header.head{}
html,
body{ background:#f6f6f6; height:100%;}
section.page{}
.tip{ font-size:1.6em; text-align:center; padding:2em; float: right; color:#666;}
.loader{ position: absolute; z-index: 9999;}
.loading{ width:48px; /*padding-top:7px; background:#fff; padding-bottom:6px; border-radius: 4px;*/overflow:hidden;  top:50%; left:50%; margin-left: -24px; margin-top:-24px; height:48px; background:url(loading.svg) no-repeat center;}
.loaded{  width:100px;top:50%; left:50%; margin-left: -50px; }
.loaded span{color:#666; font-size:1.4em; text-align:center; display: block;}
.loaded p{ border-radius: 4px; background:#42ADFD; text-align: center; padding:1em; color:#fff; margin-top:20px; }
.loaded p:active{ background:#003399;}
.wui_acc{ width:100%;}
.wui_acc dl{ display:block; width:100%;}
.wui_acc dl.first{border-top:.6px #ccc solid; }
.wui_acc dl dd{ display:none; background:#fff;}
.wui_acc dl.open dd{ display:block;}
.wui_acc dl.last{ }
.wui_acc dl dt{ background:-webkit-gradient(linear, 0 0, 0 bottom, from(#f4f4f4), to(#eeeeee)); padding:.4em 1em; border-bottom:1px solid #ccc; position:relative;}
.wui_acc dl dt h1{ font-size:1.6em; line-height:1.6; color:#333;}
.wui_acc dl dd h2{ font-size:1.2em; margin:.4em 0; color:#222;}
.wui_acc dl dd{ border-bottom:1px #ccc solid;}

.wui_acc dl dt span.icon_arrow{ position:absolute; display:block; width:16px; height:16px; right:1em; top:.8em;  background:url(icon-arrow.svg) no-repeat center center; background-size:90%; -webkit-transition:-webkit-transform .3s ease-in; }

.wui_acc dl.open dt span.icon_arrow{ -webkit-transform:rotate(90deg);}

.logo{ margin: 0 auto 1em auto; width:60%;}

.wui_dialog{ position:absolute;top:0; bottom:0; left:0; right:0; z-index:999;}
.wui_slider{}
.wui_dialog .content{ position:absolute; z-index:1;}
.wui_dialog .bg{ position:absolute; background:rgba(0,0,0,.5); top:0; bottom:0; left:0; right:0; z-index:0;}

.space_v{ display:block; height:1em;}

.wui_list{}
.wui_list .content{padding:0;}
.wui_list_item{  position:relative; padding:1em; background:#fff url(bg_1px.png) repeat-x bottom; overflow:hidden;}
.wui_list_item:active{background:#f4f4f4;}
.wui_list_item.last{ background:#fff;}
.wui_list_item.last{}
.wui_list_item.hover{ }
.wui_list_item .icon_arrow{ position:absolute; display:block; width:16px; height:16px; right:1em; top:50%; margin-top:-8px;background:url(icon_arrow.svg) no-repeat center center; background-size:90%; }

.wui_list_item .name{}
.wui_list_item .desc{ padding-right: 2.4em;}
.wui_list_item .desc.long{ padding-right: 5.4em;}
.wui_list_item .thumb_l{ position:absolute; width:6em; top:.4em; left:1em; }
.wui_list_item h2{ color:#666; font-size:1.2em; line-height: 1.5;}
.wui_list_item p{ margin-top:.4em; color:#999;}
.wui_list_header{ min-height:1.2em;background :#eee; border-bottom:1px #ccc solid; border-top:1px #ccc solid; padding:.4em 1em; color:#000; font-size:1.4em;}
.wui_list_header span{ /*color:rgba(102,204,255,1);*/ font-size:12px; padding:0 0 0 1.4em;  }
.sub_list_item{ padding-left:1em; }
.price{ position:absolute; font-size:1.6em; height:3em; line-height:3em; right:2em; top:50%; margin-top:-1.5em; color:rgba(102,204,255,1);}

.wui_full_btn{ padding:.6em 1em; overflow: hidden;  background:#42adfd; border-radius:4px; margin:1em; }
.wui_full_btn span{ display:block; text-align:center;color:#fff; font-size:2em; }
.wui_full_btn.disabled{  background:#ccc; color:#999;}
.buy_note{ display:block; text-align:left;  font-size:1em; padding:.5em; padding-left:2em; overflow: hidden; position: relative; border:#d48804 1px solid; color: #bf8701; border-radius:4px; margin:1em; background:#ffffda; }
.buy_note span{ display:block; width: 1.2em; height:1.2em;  position: absolute; top: .5em; left:.5em; background:url(icon_buy_note.png) no-repeat center; background-size: contain; }
.wui_tip{ padding:.4em; margin:1em; overflow:hidden; background:#FEFBE9; border-radius: 4px; border: 1px #E67E22 dotted; color: #E67E22;}
.important_tip{padding:1em; overflow:hidden; background:#fff; color:#FF1C14; text-align: center; }
.thumb_list{}
.thumb_list .wui_list_item{ min-height:6em; }
.thumb_list .thumb_l{ width:4.2em;}
.thumb_list .content{ padding-left:5.2em;}

.icon_desc{}
.icon_time{ width:16px; height:16px; background:url(icon_time.png) no-repeat; background-size:contain; padding-left:18px; margin-right:1em; }
.icon_loc{ width:16px; height:16px; background:url(icon_loc.png) no-repeat; background-size:contain;padding-left:18px; margin-right:1em;}
.icon_phone{ width:16px; height:16px; background:url(icon_phone.png) no-repeat; background-size:contain;padding-left:18px; margin-right:1em;}

#ProductInfo{ background:#FFF; position:relative; border-bottom:1px #ccc solid; }
#ProductInfo .content{ padding:1em;}
#ProductInfo h2{ color:#666; font-size:1.6em;}
#ProductInfo .price{ right:1em; top:.5em; height:auto; line-height:1; margin-top:0;}
#ProductInfo.no_border{ border:none;}

.content div.note{ margin-top:.8em; color:rgba(102,204,255,1);}
.content div.desc,
.content div.other{ margin-top:.2em; line-height: 1.5}
.content div.desc p{ text-indent:0em;}
.content div.other span{ display:block;}

#PriceList .wui_list_item { height:6em;}
#PriceList .wui_list_item .content{ padding:0; padding-left:10em;}
#PriceList .wui_list_item .thumb_l{ width:9em;}
#ActiveBox,
#PriceBox{ display:none;}
.weixin_box{ margin-top:3em; text-align:center; display:none;}
.weixin_box img{ margin:0 auto;}
.weixin_box p{ text-align: center; margin-bottom: 1em;}
.wui_radio{border:2px #ccc solid; background:rgba(255,255,255,1) url(icon_check_box.png) center center no-repeat; background-size:contain; border-radius:10px; position:absolute; top:50%; margin-top:-9px; display:block;  width:18px; height:18px; right:2em;}
.wui_list_item.checked .wui_radio{ background:rgba(0,204,51,1) url(icon_check_box.png) center center no-repeat; background-size:contain; border:none;}

.wui_header_title{}
.wui_header_title h1{ text-align:center; line-height:44px; font-size: 1.6em; color:#323232;}
.wui_action_bar{ height:44px; position:relative; background: -webkit-gradient(linear,0 0,0 100%,from(rgb(255,255,255)),to(rgb(242,242,242)));
border-bottom: 1px #ccc solid;}
.wui_action_bar{ height:44px; position:fixed; width: 100%;top:0; z-index: 9999; background: -webkit-gradient(linear,0 0,0 100%,from(rgb(255,255,255)),to(rgb(242,242,242)));
    border-bottom: 1px #ccc solid;}


.wui_action_header{ background:#46aeff; color:#fff;}
.wui_action_header h1{color:#fff;}


/*
.back_btn{ position:absolute; left:10px; top:6px;background-color:#fff; border: 1px solid #ccc;background: -webkit-gradient(linear,0 0,0 100%, color-stop(0,rgb(255,255,255)),color-stop(.5,rgb(238,238,238)),color-stop(1,rgb(255,255,255))); border-radius:4px;}
.back_btn:active{background:#ccc;}
.back_btn span{ font-size:1.3em; padding:0em .5em; line-height:30px;  display:block;}
*/
.back_btn{ position:absolute; left:10px; top:12px; background-color:#fff; width:20px; height:20px; display: block; background: url(icon_back.svg) no-repeat center center; background-size:contain;}
.back_btn:active{}
.back_btn span{ width:20px; height:20px; display: block;}


.ver_info{ padding:6px 0; line-height: 1.5; margin-top:20px; border-top:1px #ccc solid;}
.ver_info b{ color:#2980B9; font-weight: normal;}
#BuyBtn{ display:none;}
.wui_grid{padding:.5em 1em; overflow:hidden; }
.wui_grid_item{ width:34%; float:left;}
.wui_grid_item.first{ width:33%;}
.wui_grid_item.last{ width:33%;}
.wui_grid_content{ color:#333; position:relative; line-height:1.4; margin:0 auto;}
.wui_grid_content img{ margin:0 auto; width:100%; max-width:224px; }
.wui_grid_content p{ text-align:center; font-size:12px; }
.wui_grid_item .icon{ position: absolute; margin-left:-34px; width:32px; height:32px; border-radius: 16px;  background-color: #4aaaf6; background-repeat:no-repeat; background-position: center;  background-size:60%;}


.page{padding-bottom:1em; }

#tcshare{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    position: fixed;
    z-index: 99999999;
    text-align: center;
    top:0;
}
#tcshare img{
    float: right;
    margin-right: 30px;
}

.wui_header_btn span{
    margin:0;
    line-height:20px;
    width:24px;
    height:24px;
    display: block;
}
.wui_header_btn.back_btn{ left:10px;}
.wui_header_btn.hot_btn.active{ background:#E84818; color:#fff;}
.wui_header_btn.back_btn span{ text-align: center;}
.wui_header_btn.hot_btn{ right:10px;}
.wui_header_btn.hot_btn span{ text-align: center;}
.wui_header_btn.back_btn:active{}


@font-face {
  font-family: 'fonticon';
  src: url('font/fonticon.ttf?16457044') format('truetype'),
       url('font/fonticon.svg?16457044#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
.font_icon{
  font-family: "fonticon";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.clear{ clear:both;}
.clearfix:after {display: block; height: 0; line-height: 0; content: ''; clear: both; visibility: hidden;}

.act_banner{width:100%;}

.wui_header_title{}
.wui_header_title h1{ text-align:center; line-height:44px; font-size: 1.6em; color:#323232;}
.wui_action_bar{ height:44px; top: 0; position:fixed;width: 100%; z-index: 999999; background: -webkit-gradient(linear,0 0,0 100%,from(rgb(255,255,255)),to(rgb(242,242,242)));
border-bottom: 1px #ccc solid;}

.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    width: 100%;
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}


.tag_check_box{
    /*display:-webkit-box;
    display:box;
    width:100%;*/
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    -webkit-align-items: stretch;
    align-items: stretch;
}

.tag_check_box a{
    /*-webkit-box-flex:1.0;
    box-flex:1.0;*/
    border-radius: 2px;
    border:1px #999 dashed;
    font-size: 1.3em;
    display: block;
    padding: .5em 0;
    width:100%;
    color:#999;
}
.tag_check_box{

}
.tag_check_box li{
  width:33.3333%;
  padding:1em 1em;
}
.tag_check_box a span{ width:100%; display:block; text-align: center;}
.tag_check_flag{

}


.tag_all_select{
   color:#007AFF;

}
.tag_check{
   color:#ccc;

}
a:link.tag_check_flag,
a:visited.tag_check_flag,
a:hover.tag_check_flag,
a:visited.tag_check_flag{
    color:#007AFF;
    border:1px #007AFF solid;
}


.dataDialog .top{ height:40px;}

.drop_down_list{
    border:1px solid #ccc; background:#fff; width:10em;
    position: fixed;
    z-index: 999999;
    right: 1em;
    top:3.6em;
    display:none;
}
.drop_down_list,
.drop_down_list ul{
    border-radius: 4px;
    font-size:1.2em;
}
.drop_down_list ul{ border-radius:6px;}


.drop_down_list span.arrow{ }
.drop_down_list ul{ position:relative; background:#fff;}
.drop_down_list ul li{}

.drop_down_list ul li.wui_active{ color:#0094D3; }
.drop_down_list ul li.wui_active span{  background:url(web/icon_sort.png) no-repeat; background-position:0 -27px;}
.drop_down_list ul li.wui_item{ border-top:1px #eee solid; color:#666; padding-left:24px; padding-right:24px;}
.drop_down_list ul li.wui_item span{ display:block; padding: .5em 1em .5em 0em; width:8em; text-align: center;}
.drop_down_list ul li.wui_first{ border-top:none;}

.drop_down_list .arrow{
    position:relative;
    margin-top: 2px;
    border: 1px #ccc solid;
    width: 14px;
    height: 14px;
    -webkit-transform:rotate(45deg);
    background:#FFFFFF;
    display:block;
}
.drop_down_list .arrow_outer{
    width:17px;
    height:8px;
    position:absolute;
    top:-7px;
    right:4px;
    overflow:hidden;
    z-index: 999998;
    display:block;
}

.wui_action_header{ background:#46aeff; color:#fff;}
.wui_action_header h1{color:#fff;}

.act_list.no_banner{margin-top:44px;}

.wui_header_txt.sort_btn{right:10px; position:absolute; display: block;  top:10px; font-size:1.2em;}
.wui_header_txt.sort_btn span{height:24px;display:block; padding:.5em 0 .5em 1.4em; background:url(web/icon_sort.png) no-repeat; background-position: 0px 6px; }
.wui_btn.full {
    width: 100%;
    display: block;
    text-align: center;
    margin: 0 auto;
}

.wui_btn, .wui_toggle_btn, .wui_tab_btn {
    display: inline-block;
    overflow: hidden;
    position: relative;
}
.wui_btn.no_text, .wui_toggle_btn.no_text {
    background-position: center center;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-indent: -9999px;
}
.wui_btn:after, .wui_toggle_btn:after {
    position: absolute;
    background-position: center center;
    display: block;
    background-repeat: no-repeat;
    left: 0;
    top: 0;
}

.wui_full_btn{ padding:.6em 1em; overflow: hidden;  background:#42adfd; border-radius:4px; margin:1em; }
.wui_full_btn span{ display:block; text-align:center;color:#fff; font-size:1.2em; }
.wui_full_btn.disabled{  background:#ccc; color:#999;}

.cursor_hand {
    cursor: pointer;
}

.act_btn {
    line-height: 30px;
    text-align: center;
    border-radius: 20em;
    border:1px #ccc solid;
    display: block;;
    width:36px;
    height:36px;
    position:fixed;
    right:1em;
    font-size:18px;
  }
  
  .act_btn.act_up_btn{ display:none;}
  a:link.act_btn,
  a:visited.act_btn{ background:#fff; text-decoration: none; color:#666;}
  a:hover.act_btn,
  a:active.act_btn{ background:#fff;}
  
  .act_hot_btn{  bottom:48px;}
  .act_up_btn{  bottom:48px;}
  a:link.act_hot_btn.active,
  a:visited.act_hot_btn.active{ background:#BF0606; color:#fff;}
